name: Deploy
on:
  push:
    branches:
      - documentation
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

concurrency: 
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install mdbook
        uses: taiki-e/install-action@v2
        with:
          tool: mdbook
      - name: Setup pages
        id: pages
        uses: actions/configure-pages@v5
      - name: Build mdbook
        run: mdbook build
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./book
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    steps:
    - name: Deploy GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
